.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFF0;
    flex-direction: column;
    font-size: 32px;
    color: black;
    background-image: url('../images/concert.jpg');
    background-size: cover;
    
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #FFFFF0;
    padding: 30px;
    height: 575px;
    width: 666px;
    border: 3px solid grey;
    border-radius: 33px;
    justify-content: space-between;
    color: #000;
    font-size: 21px;
    font-weight: bold;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 33px;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #ff5349;
    border-radius: 33px;
    font-weight: bold;
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    margin-top: 7px;
  }

.sync
{
    display: flex;
    flex-direction: column;
    background-color: #101522;
    color: white;
    height: auto;
    width: auto;
    font-size: 55px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: sticky;
    z-index: 10;
    top: 0;
}

.or 
{
    text-align: center;
    color: grey;
    font-size: 16px;
}